.progress-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns content to the right */
    gap: 10px; /* Adds spacing between elements */
    // width: 100%; /* Ensures it takes full width */
    background: #fff;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-left: auto; /* Adjust based on layout needs */
    
  
    .pi-clock {
      color: #8c8c8c;
      font-size: 16px;
    }
  
    .progress-label {
      font-size: 14px;
      color: #333;
      font-weight: 500;
    }
  
    .progress-bar {
      width: 120px;
      
      p-progressBar {
        height: 6px;
        border-radius: 8px;
      }
  
      ::ng-deep .p-progressbar {
        height: 6px !important; 
        width: 100% !important; 
        border-radius: 10px;
      }
      
      ::ng-deep .p-progressbar-value {
        background: linear-gradient(to right, #7b3ff3, #d91eff) !important; 
        border-radius: 10px;
      }
      
    }
  
    .progress-percentage {
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
  
    .status-badge {
      display: flex;
      align-items: center;
      background: #ffeacc;
      color: #e68a00;
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 500;
      gap: 4px;
    }
  
    .edit-icon {
      font-size: 16px;
      color: #666;
      cursor: pointer;
    }
  }
  