<p-table [value]="data" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
    <tr>
      <td *ngFor="let col of columns">
        <!-- Index column -->
        <ng-container *ngIf="col.type === 'index'">
          {{ rowIndex + 1 }}
        </ng-container>

        <!-- Input number -->
        <ng-container *ngIf="col.type === 'number'">
          <input type="number" class="p-inputtext p-component" [(ngModel)]="row[col.field]"
                 (ngModelChange)="rowChange.emit({ rowIndex, field: col.field, value: $event })">
        </ng-container>

        <!-- Dropdown -->
        <ng-container *ngIf="col.type === 'dropdown'">
          <p-dropdown 
            [options]="col.options" 
            [optionLabel]="col.optionLabel" 
            [optionValue]="col.optionValue || col.optionLabel"
            [(ngModel)]="row[col.field]"
            (onChange)="rowChange.emit({ rowIndex, field: col.field, value: $event.value })"
            placeholder="--SELECT--">
          </p-dropdown>
        </ng-container>

        <!-- Readonly field -->
        <ng-container *ngIf="col.type === 'text' && col.readonly">
          <input type="text" class="p-inputtext p-component" [value]="row[col.field]" readonly>
        </ng-container>

        <!-- Actions -->
        <ng-container *ngIf="col.type === 'actions'">
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                  (click)="deleteRow.emit(rowIndex)">
          </button>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
