$bg-color: #f7f6fb;
$primary-color: linear-gradient(87.73deg, #0d6af0 8.06%, #a81be9 89.79%);
$light-gradient-color: linear-gradient(
  87.73deg,
  rgba(13, 106, 240, 0.08) 8.06%,
  rgba(168, 27, 233, 0.08) 89.79%
);
$font-family: 'Inter', serif;
$border-color: #d5d7da;
$light-border-color: #e9eaeb;
$blue-color: #0b66e4;
$red-color: #d92d20;
$green-color: #027a48;
$orange-color: #f79009;
$text-color: #131313;
$light-green-color: #d1fadf;
$light-orange-color: #fef3d2;
$light-red-color: #f97066;
$light-grey-color: #eaeaea;
$lighter-grey-color: #f5f5f5;
$light-grey:#f0f0f0;
$grey:#808080;
$white:#ffff;
$light-grey-col:#ddd;
$blue-hovered-color: #0056b3;
