<div class="main-wrapper grid grid-nogutter">
  <!-- left side IMG-->
  <div class="col-12 sm:col-6 hidden sm:block">
    <div class="bg-color">
      <div class="img-wrapper">
        <img src="/assets/logo.svg" alt="Logo" class="login-logo" />
      </div>
    </div>
  </div>

  <!-- Login Form -->
  <div class="col-12 sm:col-6">
    <div class="login-wrapper bg-white">
      <div class="form-container">
        @if (!otpTemplate()) {
          <h2>Log in to your account</h2>
          <p>Welcome back! Please enter your details.</p>

          <form [formGroup]="loginForm">
            <!-- <app-input
            label="Email"
            placeholder="Enter your email"
            [control]="getControl('email')"
            [required]="true"
            [errorMessages]="{
              required: 'Email is required',
              email: 'Please enter a valid email address',
            }"
          ></app-input> -->
            <app-input
              label="Username"
              placeholder="Enter username"
              [control]="getControl('username')"
              [required]="true"
              [errorMessages]="{
                required: 'Username is required',
              }"
              [type]="'text'"
              formControlName="username"
            ></app-input>

            <app-input
              label="Password"
              placeholder="Enter password"
              [control]="getControl('password')"
              [required]="true"
              [errorMessages]="{
                required: 'Password is required',
              }"
              [type]="'password'"
              formControlName="password"
            ></app-input>

            <!-- <app-button [label]="'Send OTP'" (onClick)="onSendOtp()"></app-button> -->
            <app-button
              class="tm-primary-btn"
              [label]="'Submit'"
              [isLoading]="isLoading"
              (onClick)="onSubmit()"
            ></app-button>
          </form>
        } @else {
          <div class="form-container">
            <p class="back-link align-items-center justify-content-start gap-2 flex">
              <i class="pi pi-arrow-left"></i> Back
            </p>
            <h2>Enter OTP</h2>
            <p>Enter the OTP sent to email</p>
            <!-- <p>Enter the OTP sent to {{ loginForm.get('email')?.value }}</p> -->

            <form [formGroup]="otpForm" class="otp-form">
              <label class="input-label">OTP</label>
              <div id="otp-box-container">
                <p-inputOtp formControlName="otp" [length]="5">
                  <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                    <input
                      pInputText
                      type="number"
                      [maxLength]="1"
                      (input)="events.input($event)"
                      (keydown)="events.keydown($event)"
                      [attr.value]="token"
                      class="custom-otp-input"
                      placeholder="0"
                    />
                  </ng-template>
                </p-inputOtp>
              </div>

              <div class="resend-container">
                <p>Didn’t received the OTP?</p>
                <div
                  class="flex justify-content-center align-items-center gap-2 font-normal text-gray-600"
                >
                  <button
                    p-button
                    class="resendText"
                    [disabled]="countdown() > 0"
                    [ngStyle]="{
                      color: countdown() > 0 ? 'rgba(156, 163, 175, 1)' : '#0B66E4',
                    }"
                  >
                    Resend OTP
                  </button>
                  <!-- in {{ getFormattedCountdown() }} -->
                </div>
              </div>

              <app-button [label]="'Verify OTP'"></app-button>
            </form>
          </div>
        }
      </div>
    </div>
  </div>
</div>
