::ng-deep .p-icon-field .p-input-icon {
    margin-top: -0.5rem;
  }
  
  .edit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    
  }
    .edit-right {
      display: flex;
      gap: 12px;
      justify-content: flex-end;
    }
  